html, body{
    padding:0;
    margin:0;
}
body{
    font-size:16px;
    font-family:"PT Sans Narrow", sans-serif;
    background:black url("/pict/bgindex.jpg") no-repeat 50% 0;
}
.layoutCenterWrapper{
    width:940px;
    margin:0 auto;
}
.layoutCenterWrapper:after{
    content:"";
    display:table;
    clear:both;
}
.header{
    color:white;
    background:black;
    font-weight:bold;
}
.header a:link,
.header a:visited,
.header a:hover,
.header a:active{
    color:white;
}
.topMenu{
    float:left;
    width:780px;
    margin:0;
    padding:0;
    list-style:none;
}
.accountMenu{
    float:right;
    max-width:140px;
}
.topMenu li{
    display:inline-block;
    margin-right:-0.2em;
}
.topMenu a{
    display:block;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:27px;
    text-decoration:none;
    text-transform: uppercase;
}
.topMenu a:hover{
    background:#242424;
}
.topMenu a:active{
    padding-bottom:25px;
    border-bottom:5px solid white;
}
.accountMenuEnter{
    position:relative;
    display:block;
    padding:25px 0px;
    padding-left:35px;
    text-decoration:none;
    text-transform:uppercase;
}
.accountMenuEnter:before{
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    background:url("/img/icon_sign.png") no-repeat 0 0;
    left:0;
    top:28px;
}
.accountMenuEnterDisabled:before{
    opacity:0.3;
}
.logo{
    width:368px;
    height:204px;
    margin:0 auto;
    margin-top:57px;
}
.features{
    margin-top:25px;
    margin-bottom:78px;
    list-style:none;
    padding:0;
    color:white;
}
.features:after{
    content:"";
    display:table;
    clear:both;
}
.features li{
    float:left;
    width:300px;
    min-height:50px;
    margin-right:20px;
    text-align:center;
}
.features li:last-child{
    margin-right:0;
}
.features:after{
    content:"";
    display:table;
    clear:both;
}
.featuresTitle{
    position:relative;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:70px;
}
.featuresTitle:after{
    content:"";
    position:absolute;
    bottom:-45px;
    left:50%;
    margin-left:-15px;
    width:30px;
    height:30px;
    background:url("/img/icon_item_white.png") no-repeat 0 0 ;
}
.features p{
    font-size:14px;
    font-weight:bold;
    margin:0 20px;
    line-height:24px;
    text-transform:uppercase;
}
.indexSection {
    position:relative;
    background:#f39c12;
    margin:34px 0;
    min-height:50px;
    background:url("/img/bg_main_texture.jpg") repeat;
    height:430px;
}
.indexSection:after{
    content:"";
    display:table;
    clear:both;
}
.indexLeftColumn{
    float:left;
    width:330px;
    margin-left:80px;
    margin-bottom:55px;
    margin-top:55px;
    min-height:100px;
    background:url("/img/bg_main_texture.jpg") repeat;
}
.indexRightColumn{
    float:right;
    width:300px;
    margin-right:80px;
    margin-bottom:55px;
    margin-top:55px;
    min-height:100px;
    background:url("/img/bg_main_texture.jpg") repeat;
}
.indexSectionTitle{
    font-size:30px;
    font-weight:bold;
    line-height:42px;
    margin-bottom:25px;
    text-transform:uppercase;
    margin-top:-10px;
}
.indexNews{
    list-style:none;
    margin:0;
    padding:0;
    color:white;
}
.indexNews a{
    text-decoration:none;
    color:#000000;
    text-transform: uppercase;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
}
.indexNews span{
    color:#000000;
    font-style:oblique;
    display:block;
    font-size:14px;
}
.indexNews li{
    margin-bottom:30px;
}
.btn{
    display:inline-block;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-weight:bold;
    background:#000000;
    font-size:14px;
    border:none;
    width:140px;
    height:43px;
    line-height:43px;
}
.btn:hover{
    background:white;
    color:black;
}
.btnNews{
    margin-top:5px;
}
.btnPrev,
.btnNext,
.btnSend{

}
.galleryItems{
    position:relative;
    width:286px;
    height:164px;
    border:7px solid #ffffff;
    margin-top:30px;  
}
.galleryItem{
    position:absolute;
    background:url("/pict/form_image.jpg") no-repeat 0 0;
    width:286px;
    height:164px;
}
.galleryControls {
    margin-top:37px;
}
.btnNext{
    position:relative;
    float:right;
}
.contactsAddress {
    margin-top:27px;
}
.contactsAddress p{
    font-weight:bold;
    text-transform: uppercase;
    font-size:14px;
    margin:6px 0px 0px 0px;
}
.btnWay{
    margin-right:17px;
}
.contactsWorkTime p{
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    margin:30px 0px 55px 0px;
    line-height:20px;
}
.indexRightColumn p{
    text-transform: uppercase;
    font-weight:bold;
    font-size:14px;
    line-height:1.7;
    margin-bottom:28px;
}
.orderForm input[type="text"]{
    float:left;
    width:121px;
    height:39px;
    border:2px solid #000000;
    padding-left:15px;
}
.orderForm input:nth-child(odd){
    margin-right:20px;
}
input::-webkit-input-placeholder {
    color:black;
    font-weight:bold;
    text-transform: uppercase;
    font-size:14px;
}
.orderForm fieldset{
    margin:0;
    padding:0;
    border:none;
    margin-bottom:19px;
}
.orderForm fieldset:last-child{
    margin:0;
}
.btnSend{
    width:100%;
    margin-top:10px;
}
.footer{
    color:white;
    background:url("/img/bg_footer.jpg") repeat 0 0;
    margin-top:32px;
}
.footer:after{
    content:"";
    display:table;
    clear:both;
}
.footerContacts{
    float:left;
    margin:63px 0;
}
.socialButtons{
    width:147px;
    padding-top:63px;
    text-transform: uppercase;
    font-size:14px;
    position:absolute;
    left:50%;
    text-align:center;
    margin-left:-75px;
}
.btnSocial{
    margin:0px;
    display:inline-block;
    width:43px;
    height:43px;
    margin-top:8px;
    background:red;
    margin-right:6px;
}
.btnSocialInst{
    margin-right:0px;
}
.btnSocialVk{
    background:url("/img/icon_vk.png") no-repeat 0 0;
}
.btnSocialFb{
    background:url("/img/icon_fb.png") no-repeat 0 0;
}
.btnSocialInst{
    background:url("/img/icon_inst.png") no-repeat 0 0;
}
.copyright{
    float:right;
    font-weight:bold;
    text-transform: uppercase;
    padding-top:63px;
    text-align:center;
    font-size:14px;
}
.copyright .btn{
    margin-top:8px;
}
.indexDevider{
    position:absolute;
    width:8px;
    height:278px;
    left:50%;
    top:50%;
    margin-top:-139px;
}
.login-popup{
    position:absolute;
    top:120px;
    left:50%;
    width:320px;
    min-height:200px;
    padding:50px 70px;
    margin-left:-230px;
    background:white;
    display:none;
}
