html, body{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
    font-family:"PT Sans Narrow", sans-serif;
    background:url("/barbershop/img/bg_main_texture.jpg") repeat;
}
.layoutCenterWrapper{
    width:940px;
    margin:0 auto;
}
.layoutCenterWrapper:after{
    content:"";
    display:table;
    clear:both;
}
.header{
    color:white;
    background:black;
    font-weight:bold;
}
.header a:link,
.header a:visited,
.header a:hover,
.header a:active{
    color:white;
}
.topMenu{
    float:left;
    width:780px;
    margin:0;
    padding:0;
    list-style:none;
}
.accountMenu{
    float:right;
    max-width:140px;
}
.topMenu li{
    display:inline-block;
    margin-right:-0.2em;
}
.topMenu a{
    display:block;
    padding-top:25px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:27px;
    text-decoration:none;
    text-transform: uppercase;
    border-bottom:5px solid #000000;
}
.topMenu a:hover{
    background:#242424;
}
.topMenu a:active{
    padding-bottom:20px;
    border-bottom:5px solid white;
}
.accountMenuEnter{
    position:relative;
    display:block;
    padding:25px 0px;
    padding-left:35px;
    text-decoration:none;
    text-transform:uppercase;
}
.accountMenuEnter:before{
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    background:url("/barbershop/img/icon_sign.png") no-repeat 0 0;
    left:0;
    top:28px;
}
.accountMenuEnterDisabled:before{
    opacity:0.3;
}
.topEntry{
    padding-top:54px;
    background:none;
    font-size:0px;
}
.topMainEntry{
    font-size:30px;
    text-transform: uppercase;
    font-weight: bold;
}
.topCurrentNavigation{
    position:relative;
    margin-top:18px;
}
.topCurrentNavigation:before{
    content:"";
    position:absolute;
    width: 7px;
    height: 7px;
    background: #000000;
    transform: rotate(45deg);
    left:65px;
    top:5px;
}
.topCurrentNavigation .topLink{
    text-decoration: none;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
    color:#000000;
    margin-right:40px;
}
.indexSection{
    margin-top:51px;
}
.indexLeftColumn{
    float:left;
    width:228px;
    background:none;
}
.indexSectionTitle{
    font-size:24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:30px;
}
.indexList{
    list-style: none;
    padding:0;
    margin:0;
    margin-top:30px;
    font-size:14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom:43px;
}
.indexListLine{
    padding-left:43px;
}
.indexList li{
    position:relative;
    margin-top:20px;
}
.indexList input{
    width:20px;
    height:20px;
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    background:url("/barbershop/img/icon_option_unchecked.png") no-repeat 0 0;
}
.btn{
    width:220px;
    height:43px;
    background:#000000;
    color:#ffffff;
    font-size:14px;
    text-transform: uppercase;
    font-weight: bold;
    font-stretch:ultra-condensed;
    border:none;
    margin-bottom:9px;
}
.btn input:first-child{
    
}
.indexRightColumn{
    float:right;
    width:702px;
    background:none;
    position:relative;
    padding-top:8px;
}
.indexSection:after{
    content:"";
    display:table;
    clear:both;
}
.indexPagePanel{
    position:relative;
    font-size:0px;
    height:114px;
}
.indexPages{
    padding:0;
    margin:0;
    list-style:none;
    position:absolute;
    display:inline-block;
    background:none;
    width:200px;
    height:43px;
    bottom:47px;
}
.indexPages li{
    display:inline-block;
    width:43px;
    height:43px;
    margin-right:7px;
}
.page{
    width:43px;
    height:39px;
    display:inline-block;
    background:black;
    font-size:14px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color:#ffffff;
    border-bottom:4px solid #000000;
}
.page:active{
    background:#ffffff;
    color:#000000;
}
.indexMarket{
    background:none;
    font-size:0px;
    display:block;
}
.indexMarketItem{
    width:220px;
    height:286px;
    display:inline-block;
    background:#ffffff;
    position:relative;
    margin-right:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom:20px;
}
.indexMarketItem:nth-child(3n){
    margin-right:0px;
}
.indexItemPrice{
    display:block;
    width:187px;
    height:43px;
    background:#e5e5e5;
    font-size:14px;
    line-height:43px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color:#000000;
    position:absolute;
    bottom:16px;
    left:16px;
}
.indexMarketItem p{
    display:block;
    font-size:14px;
    line-height:18px;
    text-transform: uppercase;
    font-weight: bold;
    position:absolute;
    left:16px;
    right:16px;
}
.footer{
    color:white;
    background:url("/barbershop/img/bg_footer.jpg") repeat 0 0;
}
.footer:after{
    content:"";
    display:table;
    clear:both;
}
.footerContacts{
    float:left;
    margin:45px 0px 75px 0px;
    font-size:14px;
    text-transform: uppercase;
    font-weight: bold;
}
.footerContacts p{
    margin-bottom:-8px;
}
.socialButtons{
    width:147px;
    padding-top:63px;
    text-transform: uppercase;
    font-size:14px;
    position:absolute;
    left:50%;
    text-align:center;
    margin-left:-75px;
}
.btnSocial{
    margin:0px;
    display:inline-block;
    width:43px;
    height:43px;
    margin-top:8px;
    background:red;
    margin-right:6px;
}
.btnSocialInst{
    margin-right:0px;
}
.btnSocialVk{
    background:url("/barbershop/img/icon_vk.png") no-repeat 0 0;
}
.btnSocialFb{
    background:url("/barbershop/img/icon_fb.png") no-repeat 0 0;
}
.btnSocialInst{
    background:url("/barbershop/img/icon_inst.png") no-repeat 0 0;
}
.copyright{
    float:right;
    font-weight:bold;
    text-transform: uppercase;
    padding-top:63px;
    text-align:center;
    font-size:14px;
}
.btnc{
    display:inline-block;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    text-transform: uppercase;
    font-weight:bold;
    background:#000000;
    font-size:14px;
    border:none;
    width:140px;
    height:43px;
    line-height:43px;
    margin-top:5px;
}
.btnc:hover{
    background:#ffffff;
    color:#000000;
}