html, body{
    padding:0;
    margin0;
}
.layoutCenterWrapper{
    width:700px;
    margin:0 auto;
    min-height:50px;
    background:green;
}
.header{
    padding:25px 0;
    background:black;
}
.logo{
    margin-top:40px;
}
.features{
    text-decoration:none;
}
.featuresTitle{
    display:inline-block;
    
}
