html, body{
    margin:0px;
    padding:0px;
}
body{
    font-size:16px;
    font-family: 'Noto Sans', sans-serif;
	background:url("/windows/pict/bg.jpg");
}
.layout-center-wrapper{
	width:1000px;
	margin:0 auto;
}
.top-pres{
	height:210px;
	background:#3e5f6f;
	position:relative;
}
.title-main{
	margin:0px;
	display:inline-block;
	padding-top:5px;
	Color:#fff;
	font-style: italic;
	font-weight: 700;
	font-size:38px;
}
.title-devider{
	width:170px;
	position:absolute;
	border-bottom:2px solid #fff;
	left:210px;
}
.title-caption{
	display:block;
	color:#fff;
	margin:0;
	margin-top:5px;
	font-size:16px;
}
.pres-logo{
	width:150px;
	height:150px;
	background:url("/windows/img/logo.png") no-repeat 50px 7px;
	float:left;
	padding-left:50px;
	padding-top:10px;
	margin-right:10px;
}
/*
.pres-social{
	position:absolute;
	list-style: none;
	padding:0;
	margin:0;
	height:50px;
	top:0;
	right:0;
	background:none;
	font-size:0;
	padding-top:10px;
	padding-right:50px;
}
.pres-social li{
	display:inline-block;
	margin-left:10px;
	border:none;
}
.social-link{
	display:inline-block;
	width:50px;
	height:50px;
}
.social-link:hover{
	opacity:0.7;
}
.social-vk{
	background:url("/windows/img/social-vk.png") no-repeat 0 0;
}
.social-od{
	background:url("/windows/img/social-od.png") no-repeat 0 0;
}
.social-yt{
	background:url("/windows/img/social-yt.png") no-repeat 0 0;
}*/
.pres-fast-contacts{
	position:absolute;
	right:0;
	top:0;
	padding-top:10px;
	padding-right:50px;
	text-align: right;
	color:#fff;
}
.contacts-time{
	font-size:14px;
}
.contacts-phone{
	font-size:30px;
	color:#ffc000;
}
.call-button{
	display:block;
	width:270px;
	height:45px;
	text-decoration: none;
	color:#fff;
	text-align: center;
	line-height: 45px;
	font-size:20px;
	font-weight: bold;
	background:red;
	background: linear-gradient(to top, #ff0107, #ff4644);
	margin:0 auto;
	border-radius: 3px;
	text-shadow: 1px 1px 2px black; 
}
.call-button:hover{
	box-shadow:inset
 0px 0px 5px 1px #000;
}
.call-button-decor{
	width:280px;
	height:50px;
	background: linear-gradient(to top, #385364, #2b3e4c);
	padding-top:5px;
	border-radius: 5px;
	margin-top:5px;
}
.top-medals{
	height:80px;
	background:none;
	margin-left:210px;
	font-size:0;
	margin-top:5px;
}
.medal{
	display:inline-block;
	vertical-align: top;
	margin-right:50px;
	width:160px;
	position:relative;
}
.medal-img{
	width:65px;
	float:left;
}
.medal-caption{
	display:inline-block;
	font-size:14px;
	color:#fff;
	margin:0;
	position:absolute;
	left:70px
}
.medal-caption-left{
	position:absolute;
	top:50%;
	height:30%;
	margin:-15% 0 0 0;
}
.medal-caption-right{
	position:absolute;
	top:50%;
	height:40%;
	margin:-18% 0 0 0;
}
.top-stand-out{
	color:#ffc000;
}
.top-nav{
	height:45px;
	width:100%;
	background:#293d47;
	position:absolute;
	bottom:0px;
	text-align: center;
}
.top-nav-decor{
	position:absolute;
	width:100%;
	bottom:45px;
	height:3px;
	background:#3e5f6f;
	background: linear-gradient(to top, #293d47, #3e5f6f);
}
.navigation{
	list-style: none;
	padding:0;
	margin:0;
	font-size:0px;
}
.navigation li{
	display:inline-block;
	margin:0;
	padding:0;
	padding-top:5px;
}
.nav-link{
	display:inline-block;
	font-size:16px;
	color:#c7ddeb;
	text-decoration: none;
	padding:3px 5px;
	margin:0 10px;
	border:2px solid #293d47;
	border-radius:15px;
}
.nav-link:hover{
	border:2px solid #4a6473;
}
.top-carousel{
	height:500px;
	background:none;
	position:relative;
	border-bottom:4px solid #293d47;
}
.top-slides{
	height:500px;
	width:690px;
	background:green;
	overflow: hidden;
	position:relative;
 black;
	-webkit-border-radius:0px 5em 25em 0px;
	-moz-border-radius:0px 5em 25em 0px;
	border-radius:0px 0em 25em 0px;
}
.top-slides-bg{
	position:absolute;
	height:500px;
	width:705px;
	-webkit-border-radius:0px 5em 25em 0px;
	-moz-border-radius:0px 5em 25em 0px;
	border-radius:0px 0em 25em 0px;
	top:0;
	left:0px;
	z-index: 2;
	background:#293d47;
}
.top-control{
	display:inline-block;
	height:96px;
	background:none;
	text-decoration: none;
	color:#000;
	text-align: right;
	padding-right: 50px;
	font-size:22px;
	position:absolute;
	border-bottom:4px solid #293d47;
	color:#3e5f6f;
	font-weight: bold;
	
}
.top-slide-spinner{
	position:absolute;
	display:none;
	width:35px;
	height:35px;
	top:31px;
	right:7px;
	background: url(/windows/img/icon-hover-slide.png) no-repeat 0 0;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.top-control:hover:after{
	content:"";
	position:absolute;
	width:35px;
	height:35px;
	background: url(/windows/img/icon-hover-slide.png) no-repeat 0 0;
	top:31px;
	right:7px;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.top-slide{
	position:absolute;
	top:0;
	left:0;
	height:500px;
	display:block;
	border:none;
	z-index: 3;
}
.top-control-1{
	width:230px;
	padding-left:20px;
	top:0;
	right:0;
	z-index:4;
	line-height:43px;
}
.top-control-2{
	width:230px;
	padding-left:40px;
	top:100px;
	right:0;
	z-index:4;
	line-height:43px;
}
.top-control-3{
	width:270px;
	padding-left:30px;
	top:200px;
	right:0;
	z-index:4;
	line-height:43px;
}
.top-control-4{
	width:310px;
	padding-left:80px;
	top:300px;
	right:0;
	z-index:4;
	line-height:43px;
}
.top-control-5{
	width:320px;
	padding-left:310px;
	top:400px;
	right:0;
	z-index:4;
	height:100px;
	line-height:32px;
}
.top-slide-2{
	display:none;
}
.top-slide-3{
	display:none;
}
.top-slide-4{
	display:none;
}
.top-slide-5{
	display:none;
}
.slide-invisible{
	display:none;
}
.slide-visible{
	display:block;
}
.mid-carousel{
	background:url("/windows/pict/bg2.png");
	height:210px;
	width:1000px;
	position:relative;
	padding-top:15px;
}
.mid-slides{
	width:900px;
	background:none;
	height:195px;
	margin:0 auto;
	font-size:0px;
	position:relative;
	overflow: hidden;
}
.mid-slide{
	display:inline-block;
	font-size:20px;
	width:290px;
	height:185px;
	background:none;
	position:absolute;
	padding:5px;
}
.mid-slide-inner{
	width:100%;
	height:100%;
}
.mid-slide:hover{
	opacity: 0.5;
}
.mid-control{
	width:50px;
	height:225px;
	top:0px;
	position: absolute;
}
.mid-left-control{		background:url("/windows/img/icon-control-left.png") no-repeat 0px 85px;
}
.mid-right-control:hover{
	box-shadow:7px 0px 10px 0px #293d47;
}
.mid-left-control:active{
	background:url("/windows/img/icon-control-left-active.png") no-repeat 0px 85px;
}

.mid-left-control:hover{
	box-shadow:-7px 0px 10px 0px #293d47;
}
.mid-right-control{
	background:url("/windows/img/icon-control-right.png") no-repeat 0px 85px;
	right:0;
}
.mid-right-control:active{
	background:url("/windows/img/icon-control-right-active.png") no-repeat 0px 85px;
	right:0;
}
.mid-slide-1{
	z-index: 5
}
.mid-slide-2{
	left:300px;
}
.mid-slide-3{
	left:600px;
}
.mid-slide-4{
	left:900px;
}
.mid-slide-5{
	left:-300px;
}
.about{
	height:650px;
	background:#293d47;
	position:relative;
	color:#fff;
}
.about-title{
	margin:0;
	padding:0;
	padding-top:10px;
	text-align: center;
	color:#ffc000;
	font-size:45px;
	text-transform: uppercase;
}
.about-subtitle{
	margin:0;
	padding:0;
	text-align: center;
	font-size: 35px;
}
.about-main{
	margin:30px 50px 30px 50px;
}
.about-team-outer{
	width:330px;
	height:230px;
	overflow: hidden;
	float:left;
	margin-right: 25px;
	margin-bottom: 15px;
	
}
.about-main-title{
	margin:0;
	margin-bottom:10px;
	font-size: 25px;
	
}
.about-main-caption{
	margin:0;
	margin-bottom:25px;
}
.about-main-list{
	list-style: none;
	padding: 0;
	margin:0;
}
.discount{
	background:none;
	font-size:0px;
}
.discount:after{
	content:"";
	display: table;
	clear:both;
}
.discount-comments{
	width:283px;
	height:500px;
	background:red;
	float:right;
	padding-right:50px;
	font-kerning:20px;
}
.discount-items{
	float:left;
	width:616px;
	vertical-align: top;
	background:none;
	height:500px;
	padding-left:50px;
}
.discount-title{
	margin:0;
	padding-top:10px;
	text-align: center;
	color:#ffc000;
	font-size:45px;
	text-transform: uppercase;
}
.discount-item{
	width:288px;
	margin-right:10px;
	background:none;
	display:inline-block;
	font-size:20px;
	height:390px;
	vertical-align: top;
	position: relative;
	border:5px solid #ffc000;
}
.discount-item:hover{
	border:5px solid #d21300;
}
.discount-item-image{

}
.discount-item-outer{
	width:288px;
	height:200px;
	overflow: hidden;
}
.discount-item-title{
	margin:0;
	text-align: center;
	padding-top:5px;
	font-size: 22px;
}
.discount-item-caption{
	margin:0;
	font-size:18px;
	text-align: center;
	padding-top:5px;
}
.discount-item-button{
	text-decoration: none;
	position:Absolute;
	width:180px;
	height:40px;
	line-height: 40px;
	text-align: center;
	left:0;
	right:0;
	bottom:10px;
	margin:auto;
	color:#fff;
	background:#d21300;
}
.discount-item-button:hover{
	background:#fff;
	color:#d21300;
}